<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package movieID="Antlr" version="3.4.1.9004" targetFramework="net452" />
  <package movieID="bootstrap" version="3.0.0" targetFramework="net452" />
  <package movieID="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package movieID="jQuery" version="1.10.2" targetFramework="net452" />
  <package movieID="jQuery.ValmovieIDation" version="1.11.1" targetFramework="net452" />
  <package movieID="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package movieID="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net452" />
  <package movieID="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net452" />
  <package movieID="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package movieID="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package movieID="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net452" />
  <package movieID="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package movieID="Microsoft.CodeDom.ProvmovieIDers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package movieID="Microsoft.jQuery.Unobtrusive.ValmovieIDation" version="3.2.3" targetFramework="net452" />
  <package movieID="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package movieID="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package movieID="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net452" />
  <package movieID="Microsoft.Owin.Security" version="3.0.1" targetFramework="net452" />
  <package movieID="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net452" />
  <package movieID="Microsoft.Owin.Security.Facebook" version="3.0.1" targetFramework="net452" />
  <package movieID="Microsoft.Owin.Security.Google" version="3.0.1" targetFramework="net452" />
  <package movieID="Microsoft.Owin.Security.MicrosoftAccount" version="3.0.1" targetFramework="net452" />
  <package movieID="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net452" />
  <package movieID="Microsoft.Owin.Security.Twitter" version="3.0.1" targetFramework="net452" />
  <package movieID="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package movieID="Modernizr" version="2.6.2" targetFramework="net452" />
  <package movieID="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package movieID="Owin" version="1.0" targetFramework="net452" />
  <package movieID="Respond" version="1.2.0" targetFramework="net452" />
  <package movieID="WebGrease" version="1.5.2" targetFramework="net452" />
</packages>